@use 'variables' as *;

h1,
h2,
h3 {
  font-family: $fuentePrincipal;
  margin: 0 0 $separacion 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
  color: $primario;

  span {
    color: $secundario;
    font-size: 1.8rem;
    display: block;
  }

  &::after {
    content: '';
    display: block;
    width: 10rem;
    height: 10rem;
    background-image: url('../img/cafe.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.header-blanco {
  @extend h2;
  color: $blanco;

  span {
    color: $blanco;
  }

  &::after {
    display: none;
  }
}

h3 {
  font-size: 3.2rem;
}
