@use 'base/variables' as *;

.text-center {
  text-align: center;
}

.bg-primario {
  background-color: $primario;
}

.margin-negativo-10 {
  margin-top: -10rem;
}

.bg-white {
  background-color: $blanco;
}

.padding-bottom-0 {
  padding-bottom: 0;
}
