@use 'base/variables' as *;
@use 'base/mixins' as *;

.contenido-contacto {
  @include tablet {
    @include grid(2, $separacion);
    background-image: url('../img/granos_cafe.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }
}

.formulario {
  .campo {
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      text-transform: uppercase;
      display: block;
      font-size: 2.2rem;
      font-weight: 700;
    }

    input:not([type='submit']),
    select {
      width: 100%;
      padding: 1rem;
      border: 0.5rem solid $primario;
    }

    input[type='submit'] {
      background-color: $primario;
      width: 100%;
      border: none;
      padding: 1rem;
      color: $blanco;
      text-transform: uppercase;
      font-size: 2.2rem;
      font-weight: 700;

      &:hover {
        cursor: pointer;
        background-color: darken($color: $primario, $amount: 5%);
      }
    }
  }
}
